*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.box-carousel{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 width:1000px;
 margin:10px auto;

 height:700px;
 border:2px solid rgba(135,135,135,0.3);
}

.mesenome{
  text-align:left;
  color: gray;
}
#mesi>div{
  margin-top:50px;
}

.box-carousel >div#mesi >div{
  display: none;
}
.box-carousel >div#mesi >div.active{

  display: block;
}
.prev,.next{
  display: flex;
  align-items: center;
}
.prev-icon,.next-icon{
  font-size:50px;
}
.rosso{
  background-color:rgba(155,0,0,0.5); ;

}
.items{
  display: flex;
  flex-wrap:wrap;
  width:100%;
  height:80%;
}
.items-in{
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin:1%;
  box-shadow: 5px 10px 8px rgba(135,135,135,0.5);
  /* border:1px solid;
  border-color:rgba(135,135,135,0.5); */
  width:calc(86%/7);
  height:80px;
}
.manda{
  display: flex;
}
